<div data-js-product data-product-handle="{{ product.handle }}"
     data-product-variant-id="{{ product.selected_or_first_available_variant.id }}">
    <a class="cm-link btn--status js-store-lists-add-wishlist"
        {% unless product.selected_or_first_available_variant.available %}disabled="disabled"{% endunless %} >
        <span>Add to wish list</span>
        <span data-button-content="added">Remove from wish list</span>
    </a>
    <br>
    <a class="cm-link btn--status js-store-lists-add-compare"
        {% unless product.selected_or_first_available_variant.available %}disabled="disabled"{% endunless %} >
        <span>Add to compare list</span>
        <span data-button-content="added">Remove from compare list</span>
    </a>
</div>